<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <div id="app">
    <!-- 1.checkbox 单选框 -->
    <!-- <label for="agree">
      <input type="checkbox" name="" id="agree" v-model="isAgree">同意协议
    </label>
    <h2>您选择的是：{{isAgree}}</h2>
    <button :disabled="!isAgree">下一步</button> -->
    <!-- 2.checkbox 多选框 -->
    <input type="checkbox" value="篮球" id="" v-model="hobbies">篮球
    <input type="checkbox" value="足球" id="" v-model="hobbies">足球
    <input type="checkbox" value="乒乓球" id="" v-model="hobbies">乒乓球
    <input type="checkbox" value="羽毛球" id="" v-model="hobbies">羽毛球
    <h2>您的爱好是：{{hobbies}}</h2>
  </div>
  <script src=" https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <script>
    const vm = new Vue({
      el: '#app',
      data() {
        return {
          message: "你好啊",
          isAgree: false,
          hobbies: []
        }
      },
    })
  </script>
</body>

</html>